<!DOCTYPE HTML>
<html lang="kr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />

<title>구고컵 2024</title>
<meta content="구리고등학교" name="keywords">
<meta content="꿈을 품고 웅비하여 열매맺는 九高人 /구리고등학교 38대 학생자치회" name="description">
<meta content="한승우" name="author">
<meta data-n-head="ssr" name="application-name" content="구리고등학교">
<meta data-n-head="ssr" name="msapplication-tooltip" content="구리고등학교">

<meta property="og:type" content="website"> 
<meta property="og:title" content="구고컵 2024">
<meta property="og:description" content="꿈을 품고 웅비하여 열매맺는 九高人">
<meta property="og:image" content="https://gurihs.kr/index/img/guri1.jpg">
<meta property="og:url" content="https://gurihs.kr/main">

<link rel="stylesheet" type="text/css" href="/app/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/app/styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Noto+Sans+KR:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/app/fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="/app/_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="stylesheet" class="page-highlight" type="text/css" href="/app/styles/highlights/highlight_blue.css">

<!-- <script src="https://pcdn2.swing2app.co.kr/swing_public_src/v3/2024_02_28_002/js/swing_app_on_web.js"></script>
<script>swingWebViewPlugin.app.webview.updateToolbar(false,false)</script> -->
</head>

<body class="theme-light" data-highlight="highlight-blue-light" data-gradient="body-blue-light">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-ZS7NWFMDBB');
  </script>
