
<%- include("./partials/header") %>

    <div class="container-xxl py-5 wow fadeInUp">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <Br><Br><br>
                    <h1 class="display-1" style="color: #0061b8;;">403</h1>
                    <h1 class="mb-4">Forbidden</h1>
                    <p class="mb-4">이 페이지에 접근할 권한이 없습니다.<br>필요권한 : 서버관리자, 학생자치회 임원, 학생자치회 인턴</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/main" style="background-color: #0061b8;;">앱으로 이동</a>
                    <br><br>
                    <p class="mb-4">이 공간은 공식 웹사이트와 다른 공간이며,<br>학생자치회가 운영중인 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
    
    <br><br><br><br>

    <script type="text/javascript" src="/app/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/scripts/custom.js"></script>
    </body>