
<%- include("./partials/header") %>

    <div class="container-xxl py-5 wow fadeInUp">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <Br><Br><br>
                    <h1 class="display-1" style="color: #0061b8;;">404</h1>
                    <h1 class="mb-4">Page Not Found</h1>
                    <p class="mb-4">요청한 페이지를 찾을 수 없습니다.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="https://gurihs.kr" style="background-color: #0061b8;;">홈으로 이동</a>
                    <br><br>
                    <p class="mb-4">이 웹사이트는 guri.hs.kr과 다른 웹사이트이며,<br>비공식으로 운영되는 구리고등학교 웹사이트입니다.<br><br>다른걸 찾고계신가요? <a href="https://guri-h.goegn.kr/guri-h/main.do" style="color: rgb(0, 102, 255); text-decoration: underline;" >공식웹사이트</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <br><br><br><br>

    <script type="text/javascript" src="/app/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/scripts/custom.js"></script>
    </body>