<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">  
    <title>구리고등학교 38대 학생자치회</title>
    <meta content="width=device-width, initial-scale=1.0 overflow-x: hidden;" name="viewport">
    <meta content="구리고등학교" name="keywords">
    <meta content="꿈을 품고 웅비하여 열매맺는 九高人 / 구리고등학교 23대 학생자치회 웹사이트입니다." name="description">
    <meta content="한승우" name="author">
    <meta data-n-head="ssr" name="application-name" content="구리고등학교">
    <meta data-n-head="ssr" name="msapplication-tooltip" content="구리고등학교">

    <meta property="og:type" content="website"> 
    <meta property="og:title" content="구리고등학교 38대 학생자치회">
    <meta property="og:description" content="꿈을 품고 웅비하여 열매맺는 九高人">
    <meta property="og:image" content="https://gurihs.kr/index/img/guri1.jpg">
    <meta property="og:url" content="https://gurihs.kr">
    
    <link href="https://gurihs.kr/index/img/favicon.png" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/css/style.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/style.css" rel="stylesheet">
    <link href="https://gurihs.kr/index/css/responsive.css" rel="stylesheet">

    <link rel="icon" href="https://gurihs.kr/index/img/favicon.ico">
    <meta name="naver-site-verification" content="22e21c71812890d1b1fad8e86ca29f0ec503b255" />
    

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@700&display=swap');
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .thum {
          width: 0px;
          height: 0px;
        }


    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZS7NWFMDBB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZS7NWFMDBB');
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    
</head>

<body>
    
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="https://gurihs.kr" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img class="thum" src="https://gurihs.kr/index/img/guri1.jpg" alt=""><h2 class="m-0 text-primary"><img src="https://gurihs.kr/index/img/topLogo.gif"></h2>
        </a>
    </nav>
    <div class="container-fluid p-0 mb-5">
            
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="https://gurihs.kr/index/img/guri1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class=" text-uppercase mb-3 animated slideInDown" style="color: #2c9dff"><br>꿈을 품고 웅비하여 열매맺는 九高人</h5>
                            <h1 class="display-3 text-white animated slideInDown">구리고등학교</h1>
                            <br>
                            <a href="https://guri-h.goegn.kr/guri-h/main.do" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="background-color: #0061b8; color: white;">공식 웹사이트</a>
                            <a href="https://guri-h.goegn.kr/guri-h/ad/fm/foodmenu/selectFoodMenuView.do" class="btn btn-light py-md-3 px-md-5 animated slideInRight" >급식</a>
                        </div>
                    </div>
                    <br><br>
            </div>
        </div>
    </div>
    </div>

    <section id="about">
    <br><br>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="https://gurihs.kr/index/img/guri2.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3" ><a style="color: #0061b8">학교소개</a></h6>
                    <h1 class="mb-4" style="color: #2c426f;">구리고에 오신걸 환영합니다.</h1>
                    <p class="mb-4">구리고등학교는 구리남양주 관내 유일한 남자고등학교입니다.<br>교육부 지정 과학중점학교이자 경기도교육청 지정 사회중점학교이며, 2018년에 과학중점과정이 가장 잘 운영되는 고등학교로 선정되었습니다.<br><br>교육부 에듀테크 미래학교 지원 사업 및 경기도 레인보우메이커 사업 지원을 받아 구상터(융복합 수업교실)이 마련되어있습니다. 또한 스터디카페 부럽지않은 높은 수준의 퀘스트(자습실)이 존재합니다.</p>
                    
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>과학/사회 중점 고등학교</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>수준높은 생기부 작성</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>최신형 크롬북 기기 도입</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>3D프린터기 및 레이저커팅기 도입</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>축구부 육성</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>좋은 수준의 인조잔디</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0" style="color: #2c426f;"><i class="fa fa-arrow-right me-2" style="color: #0061b8;"></i>퀘스트 및 구상터</p>
                        </div>
                    </div>
                    <p style="font-size: 1.5em; color: black;"><a>구리고등학교는 </a><a id="remain-time" style="color: #0061b8; text-decoration: underline;"></a><a>일째 이 자리를 지키고있습니다.</a><br></p>
                    <script src="https://gurihs.kr/index/Dday.js"></script>
                    <a class="btn py-3 px-5 mt-2" href="https://guri-h.goegn.kr/guri-h/cm/cntnts/cntntsView.do?mi=6686&cntntsId=2816" style="background-color: #0061b8; color: rgb(255, 255, 255);">학교장 인사말</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="https://gurihs.kr/index/img/IMG_8112.jpeg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="mb-4" style="color: #2c426f;">왜 구리고가 좋을까요?</h2>
                    <p class="mb-4">위에서 말한것과 같이, 구리고등학교는 교육부 지정 과학중점고등학교이며 경기도교육청 지정 사회중점고등학교입니다. 과학중점고등학교는 과학실 4개와 수학교실 2개를 갖추도록 되어있습니다. 학생들은 1학년 때 연간 50시간 이상의 비교과 활동 및 과학 체험 활동과 함께 한국과학창의재단에서 제작한 과학교양, 과학융합 과목을 추가로 이수하게 되고, 2학년 때부터 과정에 따라 과제연구, 실험 중심의 교육을 받도록 되어있습니다. 이와같은 이유로 다른학교에 비해 수준높은 비교과활동을 진행하며 <span style="color: #0061b8; text-decoration: underline;">학생부종합전형을 노리는 수시 학생에게 적합한 학교입니다</span>. 개인적으로 생기부 작성에 유리한 학교라고 느낍니다.</p>
                    <p class="mb-4" style="color: black;">실제 구리고등학교 재학생에게 궁금한게 있나요? 이메일 sw@gurihs.kr 혹은 인스타그램 <a style="color: #0061b8; text-decoration: underline;" href="https://www.instagram.com/darkcircle_hanseung/">@darkcircle_hanseung</a>으로 질문을 주세요. 구리고등학교를 학생의 입장에서 누구보다 솔직하게 답변해드리겠습니다.</p>
                    <a class="btn py-3 px-5 mt-2" href="https://www.youtube.com/watch?v=Qn_LvKXEzuw" style="background-color: #0061b8; color: rgb(255, 255, 255);">2024 구리고 입학설명회 영상</a> 
                    

            </div>
        </div>
    </div>
</section>
<br><br>


<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3"><a style="color: #0061b8;">교직원의 한마디</a></h6>
            <h1 class="mb-5">열정적이고 친절한 선생님</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://gurihs.kr/index/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">심한수</h5>
                <p>구리고등학교 12대 교장</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">구리고등학교는 학생들의 잠재된 능력을 깨워주는 학교입니다. 학생들의 바라는 미래는 무엇이든지 그릴수있는 도화지같은 환경을 조성하려 노력하고 있습니다.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://gurihs.kr/index/img/image.webp" style="width: 80px; height: 80px;">
                <h5 class="mb-0">이수연</h5>
                <p>구리고등학교 6년 근무 국어교사</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">구리고등학교 선생님들은 친절하시고 열정이 있으시며 대입과 생기부 등에 대한 이해도가 높습니다.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://gurihs.kr/index/img/unnamed.png" style="width: 80px; height: 80px;">
                <h5 class="mb-0">손은주</h5>
                <p>구리고등학교 정보교사</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">선생님과 학생들의 소통이 잘 되는 분위기 좋은 학교입니다. 누구나 우리 학교에 오면 편하고 즐겁게 생활할 수 있습니다. 우리 학교는 서로를 존중하는 학교 문화가 잘 형성되어 있습니다 .</p>
                </div>
            </div>
        </div> 
    </div>
</div>



<section class="section first-section" id="photo">
    <div class="container-fluid">
        <br><br><br><br>
        <div class="masonry-blog clearfix">

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center  px-3" style="color: #0061b8" >학교활동</h6>
                <h1 class="mb-5">수준높은 생기부 활동 진행</h1>
                
            </div>
            
            

            <div class="left-side">
                <div class="masonry-box post-media" >
                     <img src="https://gurihs.kr/index/img/cat-2.png" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">한탕강 지질탐사</a></h4>
                                <small><a  title="">2023년 5월 13일</a></small>
                                <small><a  title="">한탕강</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-side">
                <div class="masonry-box post-media">
                     <img src="https://gurihs.kr/index/img/cat-1.png" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a  title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">저자와 함께하는 과학 강연</a></h4>
                                <small><a  title="">2023년 5월 13일</a></small>
                                <small><a  title="">구리고 구상터</a></small>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="masonry-box small-box post-media">

                </div>

                <div class="masonry-box small-box post-media">
                     
                </div>
            </div>

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">    
                     <img src="https://gurihs.kr/index/img/cat-4.png" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a  title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">분자의료 생물정보학 PCR실험</a></h4>
                                <small><a  title="">2023년 5월 13일</a></small>
                                <small><a  title="">구리고 과학실</a></small>
                            </div>
                        </div>
                     </div>
                </div>
            </div> 
        </div>



        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                     <img src="https://gurihs.kr/index/img/cat-6.jpg" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a  title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">천체관측체험</a></h4>
                                <small><a  title="">2022년 4월 8일</a></small>
                                <small><a  title="">경기북과학고등학교 천체관측 옥상</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-side">
                <div class="masonry-box post-media">
                     <img src="https://gurihs.kr/index/img/cat-7.png" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a  title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">세계시민프로젝트</a></h4>
                                <small><a  title="">2023년 5월 13일</a></small>
                                <small><a  title="">한국 인도 베트남 인도네시아 말레이시아</a></small>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="masonry-box small-box post-media">

                </div>

                <div class="masonry-box small-box post-media">
  
                </div>
            </div>

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                     <img src="https://gurihs.kr/index/img/cat-8.jpg" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <h4><a  title="" href="https://guri-h.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6836&bbsId=4549">창의융합아카데미</a></h4>
                                <small><a  title="">2022년 5월 27일</a></small>
                                <small><a  title="">구리고 구상터</a></small>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</section>
    
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">더알아보기</h4>
                <p style="font-size: 0.8em;" class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>경기도 구리시 장자대로 89</p>
                <p style="font-size: 0.8em;" class="mb-2"><i class="fa fa-phone-alt me-3"></i>031-556-3953</p>
                <br>
                <h4 class="text-white mb-3">개발자 연락처</h4>
                <p style="font-size: 0.8em;" class="mb-2"><i class="fa fa-envelope me-3"></i>이메일 sw@gurihs.kr</p>
                <p style="font-size: 0.8em;" class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>인스타그램 @darkcircle_hanseung</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">저작물 사용안내</h4>
                <p style="font-size: 0.8em;">본 웹사이트에서 사용되는 사진은 <a href="https://www.kogl.or.kr/info/licenseType4.do" style="color: rgb(0, 229, 255); text-decoration: underline;" >'공공누리' 출처표시-상업적이용금지-변경금지 조건</a>에 따라 사용되고있습니다.</p>
                <br>
                <h4 class="text-white mb-3">웹사이트 안내</h4>
                <p style="font-size: 0.8em;">본 웹사이트는 구리고등학교의 공식 웹사이트가 아니며 재학생이 제작한 웹사이트입니다. 중학교에서 고등학교로 진학하는 과정에서 학교선택에 필요한 구리고등학교의 학교정보를 쉽게 볼수있게 하는 의도로 2023년에 만들어졌습니다.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span style="font-size: 0.8em; color: rgb(145, 145, 145);"><a href="https://gurihs.kr" style="color:rgb(137, 190, 190); text-decoration: underline;">gurihs.kr</a> / Copyright © <a href="https://www.instagram.com/darkcircle_hanseung/" style="color: rgb(239, 140, 140); text-decoration: underline;">한승우</a>.   All rights reserved.</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://gurihs.kr/index/lib/wow/wow.min.js"></script>
  <script src="https://gurihs.kr/index/lib/easing/easing.min.js"></script>
  <script src="https://gurihs.kr/index/lib/waypoints/waypoints.min.js"></script>
  <script src="https://gurihs.kr/index/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="https://gurihs.kr/index/js/main.js"></script>
  <script src="https://gurihs.kr/index/api.js"></script>
  </body>
  
  </html>