<%- include("./partials/header") %>

<script>
    window.onload = function() {
        var appUrl = 'gurihs://main';
        window.location.href = appUrl;
    };
</script>

<div id="page">

    <div class="page-content">
        <br>
        <div class="card card-style preload-img" data-src="/index/img/guri2.jpg" data-card-height="130">
            <div class="card-center ms-3">
                <h1 class="color-white mb-0">구리고등학교 어플리케이션</h1>
                <p class="color-white mt-n1 mb-0 opacity-50">구고컵 웹사이트는 구리고 어플로 합병되었습니다.</p>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>


        <div class="card card-style">
            <div class="content line-height-s">
                <h2>구리고 어플 소개</h2>
                <p>
                    9월 12일, 앱스토어를 통한 구리고등학교 어플 출시가 완료되었습니다. 구리고등학교 어플은 학교생활을 더 편하게 해주는 여러 기능을 가진 어플입니다.<br><br>급식정보, 실시간 최신 시간표, 학교공지, 학사일정을 확인할수 있습니다. 또한 소식지 페이지를 통해 구리고등학교 학교와 학생회의 이벤트, 행사들을 간편하게 확인할수 있습니다. 그리고 여러분들이 지금 이 페이지를 보고 있는 이유인, 구고컵 페이지 또한 구리고 어플에서 이용이 가능합니다.
                </p>
            </div>
        </div>

        <div data-card-height="231" class="card card-style bg-13 show-no-device">
            <div class="card-center">
                <h1 class="text-center mb-3"><i class="fab fa-2x fa-apple color-gray-dark"></i></h1>
                <h1 class="text-center color-white bolder font-22">구리고등학교 어플 다운로드</h1>
                <p class="text-center color-white opacity-50 bottom-25">
                    아래 버튼을 눌러 앱스토어로 이동하세요.
                </p>
                <a href="https://apps.apple.com/us/app/%EA%B5%AC%EB%A6%AC%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90/id6670740192?platform=iphone" class="btn btn-m rounded-xs btn-center-l bg-blue-dark text-uppercase font-900">앱스토어로 이동</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>

            <br>
        </div>
        <div data-card-height="400" class="card card-style bg-13 show-no-device">

            <div class="card-center">
                <h1 class="text-center mb-3"><i class="fab fa-2x fa-android color-green-dark"></i></h1>
                <h1 class="text-center color-white bolder font-22">구리고등학교 어플 다운로드</h1>
                <p class="text-center color-white opacity-90 bottom-25 line-height-s">
                    아래 다운로드 버튼 클릭 > 내 파일 (어플) 실행 ><br>[카테고리]에 있는 [설치 파일] 클릭 > 다운로드된 APK파일 클릭
                </p>
                <a href="/app/구리고등학교-0_3.apk" class="btn btn-m rounded-xs btn-center-l bg-blue-dark text-uppercase font-900" download>APK파일 다운로드</a>
                <p class="text-center color-white opacity-90 bottom-25 line-height-s">
                    <br><br>"출처를 알 수 없는 앱을 설치할 수 없음" 뜰 경우<br>[설정] > [보안 및 개인정보 보호] > [보안 위험 자동 차단] 해제
                </p>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>

        <div data-card-height="281" class="card card-style bg-13 show-ios" style="background-image: url(/index/img/guri2.jpg);">
            <div class="card-center">
                <h1 class="text-center mb-3"><i class="fab fa-2x fa-apple color-gray-dark"></i></h1>
                <h1 class="text-center color-white bolder font-22">구리고등학교 어플 다운로드</h1>
                <p class="text-center color-white opacity-50 bottom-25">
                    아래 버튼을 눌러 앱스토어로 이동하세요.
                </p>
                <a href="https://apps.apple.com/us/app/%EA%B5%AC%EB%A6%AC%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90/id6670740192?platform=iphone" class="btn btn-m rounded-xs btn-center-l bg-blue-dark text-uppercase font-900">앱스토어로 이동</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>

        <div data-card-height="400" class="card card-style show-android" style="background-image: url(/index/img/guri2.jpg);">
            <div class="card-center">
                <h1 class="text-center mb-3"><i class="fab fa-2x fa-android color-green-dark"></i></h1>
                <h1 class="text-center color-white bolder font-22">구리고등학교 어플 다운로드</h1>
                <p class="text-center color-white opacity-90 bottom-25 line-height-s">
                    아래 다운로드 버튼 클릭 > 내 파일 (어플) 실행 ><br>[설치 파일] 클릭 > 구리고등학교 APK파일 클릭
                </p>
                <a href="/app/구리고등학교-0_3.apk" class="btn btn-m rounded-xs btn-center-l bg-blue-dark text-uppercase font-900" download>APK파일 다운로드</a>
                <p class="text-center color-white opacity-90 bottom-25 line-height-s">
                    <br><br>"출처를 알 수 없는 앱을 설치할 수 없음" 뜰 경우<br>설정 > 보안 및 개인정보 보호 > 보안 위험 자동 차단 해제
                </p>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>

        <div class="footer card card-style">
            <a href="#" class="footer-title"><span class="color-highlight" style="font-size: 0.9em;">구리고등학교</span></a>
            <p class="footer-text line-height-s"><span style="color: black;"><b>구리고 어플리케이션 0.3.0 vr</b></span><br><br>구리고등학교 어플의 소유권은 구리고등학교<br>학생자치회에 귀속되어 있습니다</p>
            <div class="text-center mb-3">
                <a href="https://www.instagram.com/guri_hs_official/" class="icon icon-xs rounded-sm shadow-l me-1 bg-instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-dark-light"><i class="fa fa-angle-up"></i></a>
            </div>

            <p class="footer-copyright">Copyright &copy; 한승우 <span id="copyright-year">2024</span>. All Rights Reserved.</p>
            <div class="clear"></div>
        </div>

    </div>

</div>

<%- include("./partials/footer") %>