<%- include("./partials/header") %>

<div id="page">
    <div id="footer-bar" class="footer-bar-1">
        <a href="/board"><i class="fa fa-window-restore"></i><span>소식지</span></a>
        <a href="/main" class="active-nav"><i class="fa fa-home"></i><span>홈</span></a>
        <a href="/gugocup"><i class="fa fa-futbol"></i><span>구고컵</span></a>
    </div>

    <div class="page-content">

        <div class="content notch-clear">
            <div class="d-flex pt-2">
                <div class="align-self-center me-auto">
                    <strong class="opacity-60 font-12 ps-2  ">꿈을 품고 웅비하여 열매 맺는 九高人</strong>
                    <h1 class="mt-n2 font-24 ps-2">구리고등학교</h1>
                </div>
                <div class="align-self-center ms-auto">
                    <a href="#" class="d-block" data-menu="menu-sidebar-right-1"><img src="https://blog.kakaocdn.net/dn/4CElL/btrQw18lZMc/Q0oOxqQNdL6kZp0iSKLbV1/img.png" class="img-fluid shadow-xl rounded-circle" width="45"></a>
                </div>
            </div>
        </div>

        <div class="splide single-slider visible-slider slider-no-arrows slider-no-dots" id="single-slider-1">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <a href="/board?id=66b8cd17f8bac189760dd7c6" class="card me-0 card-style" data-card-height="300" style="background-image: url('/app/images/목업.png')">
                            <div class="card-top">
                                <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">학생자치회</span>
                            </div>
                            <div class="card-bottom m-3">
                                <h1 class="color-white font-20 font-600">
                                    환영합니다!<br>
                                    구리고 어플을 소개합니다. 
                                </h1>
                                <p class="mb-0 color-white font-12 opacity-40 pt-1 font-600">2024년 8월 11일 / 한승우 작성</p>
                            </div>
                            <div class="card-overlay bg-gradient opacity-90"></div>
                        </a>
                    </div>
                    <div class="splide__slide">
                        <a href="/board?id=" class="card me-0 card-style" data-card-height="300" style="background-image: url('/app/images/목업2.png')">
                            <div class="card-top">
                                <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">학생자치회</span>
                            </div>
                            <div class="card-bottom m-3">
                                <h1 class="color-white font-20 font-600">
                                    학생자치회<br>
                                    문의실 운영안내
                                </h1>
                                <p class="mb-0 color-white font-12 opacity-40 pt-1 font-600">2024년 9월 19일 / 한승우 작성</p>
                            </div>
                            <div class="card-overlay bg-gradient opacity-90"></div>
                        </a>
                    </div>  
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content line-height-m">
                <h4><%= date %> 구리고 급식</h4>
                <p><%- lunch %></p>
            </div>
        </div>

        <div class="splide double-slider slider-no-arrows slider-no-dots" id="double-slider-home-2">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <a href="https://www.goegn.kr/guri-h/na/ntt/selectNttInfo.do?mi=6726&bbsId=4486&nttSn=1210133">
                            <div data-card-height="180" class="card mx-3 rounded-m shadow-l" style="background-image: url('https://www.goegn.kr/dext5editordata/2024/03/20240305_170452586_84586.jpg');">
                                <div class="card-top ms-3 mt-3">
                                    <i class="fa fa-calendar-check fa-4x" style="color: #4D7FE1;"></i>
                                </div>
                                <div class="card-bottom ms-3">
                                    <h2 class="color-white font-600 mb-0">학사일정</h2>
                                    <p class="color-white font-11 mt-n1 mb-2">구리고등학교 학사일정</p>
                                </div>
                                <div class="card-overlay bg-black opacity-80"></div>
                            </div>
                        </a>
                    </div>
                    <div class="splide__slide">
                        <a href="http://www.xn--s39aj90b0nb2xw6xh.kr/">
                            <div data-card-height="180" class="card mx-3 rounded-m shadow-l bg-14">
                                <div class="card-top ms-3 mt-3">
                                    <i class="fa fa-clock fa-4x" style="color: #4D7FE1;"></i>
                                </div>
                                <div class="card-bottom ms-3">
                                    <h2 class="color-white font-600 mb-0">컴시간</h2>
                                    <p class="color-white font-11 mt-n1 mb-2">반별 최신 시간표</p>
                                </div>
                                <div class="card-overlay bg-black opacity-80"></div>
                            </div>
                        </a>
                    </div>
                    <div class="splide__slide">
                        <a href="https://www.goegn.kr/guri-h/na/ntt/selectNttList.do?mi=6726&bbsId=4486">
                            <div data-card-height="180" class="card mx-3 rounded-m shadow-l bg-3">
                                <div class="card-top ms-3 mt-3">
                                    <i class="fa fa-bullhorn fa-4x" style="color: #4D7FE1;"></i>
                                </div>
                                <div class="card-bottom ms-3">
                                    <h2 class="color-white font-600 mb-0">학교공지</h2>
                                    <p class="color-white font-11 mt-n1 mb-2">구리고 공식 공지사항</p>
                                </div>
                                <div class="card-overlay bg-black opacity-80"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer card card-style">
            <a href="#" class="footer-title"><span class="color-highlight" style="font-size: 0.9em;">구리고등학교</span></a>
            <p class="footer-text line-height-s"><span style="color: black;"><b>구리고 어플리케이션 0.3.0 vr</b></span></p>
            <div class="text-center mb-3">
                <a href="#" onclick="swingWebViewPlugin.app.methods.doExternalOpen('https://www.instagram.com/guri_hs_official/');" class="icon icon-xs rounded-sm shadow-l me-1 bg-instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-dark-light"><i class="fa fa-angle-up"></i></a>
            </div>

            <p class="footer-copyright">Copyright &copy; 한승우 <span id="copyright-year">2024</span>. All Rights Reserved.</p>
            <div class="clear"></div>
        </div>  

    </div>

    <%- include("./partials/footer") %>